h2>img{    
    width: 10%;
    height: 10%;
  }
  p{
      padding-top: 1%;
      padding-left: 50%;
      background-color: deeppink;
    }
  html{
      background-color: darksalmon;
  }
  h1>img{
      width: 16%;
      height: 16%;
      float: right;
      float: left;
      
  }
  h1{
      margin-top: 50px;
      margin-bottom: 200px;
      margin-right: 100px;
      margin-left: 9px;
  }
  
  article>img{
      width: 8%;
      height: 8%;
  }
  #Octavius{
      background-color: aqua;
  }
  .dog1{
      color: orangered;
  }
  footer{
    background-color: darkolivegreen;
    color: cornsilk;
  }
  .funParagraph{
    color: green;
  }
  #mainHeading{
    color: red;
  }
  body{
    margin: 8px;
    display: block;
  }