h2>img{    
    width: 10%;
    height: 10%;
  }
  p{
      padding-top: 1%;
      padding-left: 50%;
      color:rgb(19, 231, 44);
      background-color: deeppink;
      
  }
  html{
      background-color: darksalmon;
  }
  h3>img{
      width: 16%;
      height: 16%;
      float: right;
      float: left;
      
  }
  h3{
      margin-top: 50px;
      margin-bottom: 200px;
      margin-right: 100px;
      margin-left: 9px;
  }
  
  h4>img{
      width: 8%;
      height: 8%;
  }
  #Octavius{
      background-color: aqua;
  }
  .dog1{
      color: orangered;
  }